---
import Typography from "../components/common/Typography.astro";
import Section from "../components/common/Section.astro";
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";
import { projects, experience } from "../consts/work";
---

<Layout>
  <Typography class="mb-1">Hey, I'm</Typography>
  <Typography variant="h2">Josh Werner</Typography>
  <Typography>
    I'm a full-stack developer passionate about building intuitive and beautiful
    web experiences that empower users. Previously lead frontend at Deel, a
    global payroll platform, and full-stack at Super, a website builder for
    Notion.
  </Typography>
  <Section title="Work Experience" class="mt-16">
    <div class="flex flex-col">
      {experience.map((experience) => <ProjectCard experience={experience} />)}
    </div>
  </Section>
  <Section title="Projects" class="my-16">
    <div class="flex flex-col">
      {projects.map((project) => <ProjectCard experience={project} />)}
    </div>
  </Section>
</Layout>
