---
import Typography from "../components/common/Typography.astro";
import Layout from "../layouts/Layout.astro";
import { projects, experience } from "../consts/work";
import ProjectsSection from "../components/ProjectsSection.astro";
---

<Layout>
  <Typography class="mb-1">Hey, I'm</Typography>
  <Typography variant="h2">Josh Werner</Typography>
  <Typography>
    I'm a full-stack developer passionate about building intuitive and beautiful
    web experiences that empower users. Previously lead frontend at Deel, a
    global payroll platform, and full-stack at Super, a website builder for
    Notion.
  </Typography>
  <div class="my-16 space-y-16">
    <ProjectsSection title="Work Experience" projects={experience} />
    <ProjectsSection title="Projects" projects={projects} />
  </div>
</Layout>
