---
import Typography from "../components/Typography.astro";
import Section from "../components/Section.astro";
import Layout from "../layouts/Layout.astro";
import { experience } from "../consts/experience";
import ExperienceCard from "../components/ExperienceCard.astro";
---

<Layout>
  <Typography class="mb-1">Hey, I'm</Typography>
  <Typography variant="h2">Josh Werner</Typography>
  <Typography>
    {"I'm a full-stack developer passionate about creating "}
    <Typography variant="em">elegant, high-performance</Typography>
    {" products for the web."}
  </Typography>
  <Section title="Experience" class="mt-16">
    <div class="flex flex-col gap-2">
      {
        experience.map((experience) => (
          <ExperienceCard experience={experience} />
        ))
      }
    </div>
  </Section>
</Layout>
