---
import Socials from "./Socials.astro";
---

<footer
  class="py-9 flex items-center justify-between border-t border-gray-100 mt-auto"
>
  <p class="text-gray-400">© 2025 · Built with ♥ by Josh Werner</p>
  <Socials />
</footer>
