---
import Typography from "./common/Typography.astro";
import ScriptText from "./ScriptText.astro";
---

<header class="py-9 flex items-center justify-between border-b border-gray-100">
  <a href="/">
    <ScriptText>josh</ScriptText>
  </a>
  <div class="flex gap-5">
    <a href="/photos">
      <Typography>Photos</Typography>
    </a>
  </div>
</header>
