---
import Typography from "./Typography.astro";
---

<header class="py-9 flex items-center justify-between">
  <div>
    <Typography>Josh Werner</Typography>
  </div>
  <div class="flex gap-5">
    <Typography>Projects</Typography>
    <Typography>Photos</Typography>
  </div>
</header>
