---
interface Props {
  date?: string;
  location?: string;
}

const { date, location } = Astro.props;
---

<div
  class="absolute -top-12 left-1/2 -translate-x-1/2 text-xs text-white bg-gray-900 rounded-sm px-2 py-1 opacity-0 group-hover:opacity-100 transition-opacity delay-0 group-hover:delay-200 group-hover:duration-300 pointer-events-none"
>
  <div class="relative z-10">
    <pre>{`${date}${date && location ? ", " : ""}${location}`}</pre>
  </div>
  <div
    class="bg-gray-900 size-4 absolute left-1/2 -translate-x-1/2 -bottom-0.5 rotate-45 z-0"
  >
  </div>
</div>
