---
interface Props {
  src: string;
  size?: "sm" | "md" | "lg";
  class?: string;
}

const { src, size = "md", class: className } = Astro.props;
---

<div
  class:list={[
    "relative bg-white rounded-sm h-fit shadow-2xl px-3 pt-3 transition-all duration-300 ease-[cubic-bezier(0.77,0,0.175,1)]",
    // Hover
    "hover:scale-105 hover:rotate-0",
    // Size
    size === "sm" ? "w-72 h-72" : "",
    size === "md" ? "w-80 h-80" : "",
    size === "lg" ? "w-96 h-96" : "",
    // Extra classes
    className,
  ]}
>
  <img
    src={src}
    class:list={[
      "object-cover rounded-xs",
      size === "sm" ? "w-72 h-72" : "",
      size === "md" ? "w-80 h-80" : "",
      size === "lg" ? "w-96 h-96" : "",
    ]}
  />
  <div class="min-h-13 pb-5">
    <slot />
  </div>
</div>
