---
import ScriptText from "./ScriptText.astro";

interface Props {
  text: string;
  size?: string;
  class?: string;
}

const { text, size, class: className } = Astro.props;
---

<div class:list={["relative", className]}>
  <ScriptText size={size}>{text}</ScriptText>
</div>
