---
import Section from "./common/Section.astro";
import ProjectCard from "./ProjectCard.astro";

interface Props {
  title: string;
  projects: Project[];
}

const { title, projects } = Astro.props;
---

<Section title={title} class="mt-16">
  <div class="flex flex-col">
    {projects.map((project) => <ProjectCard experience={project} />)}
  </div>
</Section>
