---
interface Props {
  size?: string;
  class?: string;
}

const { size, class: className } = Astro.props;
---

<p
  class:list={[
    "la-belle-aurore-regular text-gray-900",
    size || "text-xl",
    className,
  ]}
>
  <slot />
</p>

<style>
  @import url("https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap");

  .la-belle-aurore-regular {
    font-family: "La Belle Aurore", cursive;
    font-weight: 400;
    font-style: normal;
  }
</style>
