---
import { SOCIALS } from "../consts/socials";
import LinkedIn from "./icons/LinkedIn.astro";
import X from "./icons/X.astro";
import NewTab from "./common/NewTab.astro";
---

<div class="flex items-center gap-3">
  <NewTab href={SOCIALS.X}>
    <X />
  </NewTab>
  <NewTab href={SOCIALS.LINKED_IN}>
    <LinkedIn />
  </NewTab>
</div>
