---
type TypographyVariant = "h2" | "em" | "p";

interface Props {
  class?: string;
  variant?: TypographyVariant;
}

const { variant = "p", class: className } = Astro.props;
---

{
  variant === "h2" ? (
    <h2 class:list={["text-2xl text-gray-700 font-medium mb-4", className]}>
      <slot />
    </h2>
  ) : variant === "em" ? (
    <em class:list={["text-gray-600", className]}>
      <slot />
    </em>
  ) : (
    <p class:list={["text-gray-500", className]}>
      <slot />
    </p>
  )
}
